<template>
  <require from="../resources/elements/island-form"></require>
  <require from="../resources/elements/island-list"></require>
  <require from="../resources/elements/island-details"></require>
  <require from="../resources/elements/island-map"></require>
  <require from="../resources/elements/island-edit"></require>

  <div class="ui container">
    <div class="ui stacked segment">
      <div class="ui grid">
        <div class="eleven wide column">
          <island-map></island-map>
        </div>
        <div class="five wide column">
          <island-form name.bind="name", category.bind="category"></island-form>
        </div>
      </div>
    </div>
    <div if.bind="isVisible">
      <div if.bind="!isEditable" class="ui stacked segment">
        <island-details></island-details>
      </div>
      <div else class="ui stacked segment">
        <island-edit></island-edit>
      </div>
    </div>
    <div class="ui stacked segment">
      <island-list islands.bind="islands"></island-list>
    </div>
  </div>
</template>
